
.about-contanier {
  margin: 0 auto;
  width: 50%;
  font-size: 30px;
}

.about-big {
  font-size: 40px;
}

.about-par-colour-1 {
  color: #FF3377;
}

.about-par {
  font-family: 'Open Sans', sans-serif;
}
